/* Revert hue value to that of pre mkdocs-material v9.4.0 */
[data-md-color-scheme="slate"] {
  --md-hue: 230;
  --md-default-bg-color: hsla(230, 15%, 21%, 1);
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

img.index-header {
  width: 70%;
  max-width: 500px;
}

.text-emphasis {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}
