site
.venv
dist
__pycache__
.env
.dev.vars
/scratch/
/.coverage
env*/
/TODO.md
/postgres-data/
.DS_Store
examples/pydantic_ai_examples/.chat_app_messages.sqlite
.cache/
.vscode/
/question_graph_history.json
/docs-site/.wrangler/
/CLAUDE.md
node_modules/
**.idea/
.coverage*
